* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

a, a:link, a:visited {
  text-decoration: none;
}

header {
  background-color: rgb(42,42,42);
  width: 100%;
}

header nav ul li {
  display: inline-block;
}

header nav ul li.nav-right {
  float: right;
}

header nav ul li a {
  padding: 16px;
  display: block;
  color: rgb(180,180,180);
}

header nav ul li a:hover {
  background-color: rgb(60,60,60);
}

header nav ul li input[type='submit'] {
  background-color: transparent;
  border: none;
  padding: 16px;
  color: rgb(180,180,180);
}

header nav ul li input[type='submit']:hover {
  background-color: rgb(60,60,60);
}

ul {
  list-style: none;
}

input {
  border: 1px solid grey;
  padding: 8px;
}

input:focus {
  border: 1px solid rgb(180,180,255);
}

.content {
  width: 400px;
  margin: auto;
}

.content h1 {
  padding-top: 16px;
  text-align: center;
  font-weight: normal;
  padding-bottom: 16px;
}

.msg {
  padding: 16px;
  background-color: rgb(200,200,200);
}

.msg.error {
  background-color: rgb(255,200,200);
}

.login {
  width: 100%;
  margin: auto;
}

.login input[type='text'], .login input[type='password'] {
  margin-bottom: 8px;
  width: 100%;
}

.login input[type='submit'] {
  margin-top: 8px;
  width: 100%;
}

.login label {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tbody tr {
  height: 42px;
}

table tbody tr td {
  border-bottom: 1px solid rgb(200,200,200);
  padding: 8px;
}

table tbody tr td:last-child {

}

table tbody tr td input {
  padding: 0;
  width: 100%;
}

.choice {
  width: 100%;
}

.choice input[type="text"] {
  width: 85%;
}

.choice input[type='submit'] {
  float: right;
}
